@using webui.Interfaces
@inject IContentHelperService contentHelperService
@model IPageModel
<!-- Navbar -->
@{
    
    var sc = Model.SiteContent;
var className = "transparent";
    @*if (Model.SiteContent.SitePage.PageMachineName != "Home")
        {
            className = "default";
        }*@
}
<nav class="navbar navbar-expand-lg fixed-top navbar-@className" color-on-scroll="300">
    <div class="container">
        @await contentHelperService.SiteContentBlock("HeaderLogo", Model, Html)
        <!-- Nav bar goes here -->
        @await contentHelperService.SiteContentBlock("HeaderMainMenu", Model, Html)
    </div>
    @await Html.PartialAsync("_LoginPartial");
</nav>
