@page
@model webui.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    //ViewData["Title"] = "Profile";
    //ViewData["ActivePage"] = webui.Areas.Identity.Pages.Account.Manage.ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
@*<div class="row">
    <div class="col-md-8">
        <div class="title">
            <h3>Navigation Tabs</h3>
        </div>
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul id="tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="my-tab-content" class="tab-content text-center">
            <div class="tab-pane active" id="home" role="tabpanel">
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                <p>Here is your profile.</p>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel">
                <p>Here are your messages.</p>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}