@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Maroon Village Hair Marketplace is open.  <a href="#">Get started today.</a></p>
</div>
