@page
@model webui.Areas.Identity.Pages.Account.ConfirmEmailModel
@await Html.PartialAsync("_Header");
<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <p>
            Your email has been confirmed.  You may login now.
        </p>
    </div>
</div>