@page
@model webui.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
}
@await Html.PartialAsync("_Header");
<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <p>
            Please check your email to confirm your account.
        </p>
        </div>
</div>